{% if grafana_installation == 'native' %}
RESTART_ON_UPGRADE=true
MAX_OPEN_FILES=10000

GRAFANA_USER=grafana
GRAFANA_GROUP=grafana
GRAFANA_HOME=/usr/share/grafana

LOG_DIR=/var/log/grafana
DATA_DIR=/var/lib/grafana
CONF_DIR=/etc/grafana
PLUGINS_DIR=/var/lib/grafana/plugins
PROVISIONING_CFG_DIR=/etc/grafana/provisioning
PID_FILE_DIR=/var/run/grafana

CONF_FILE=/etc/grafana/grafana.ini

{% endif %}
GF_DEFAULT_APP_MODE=production
GF_DEFAULT_INSTANCE_NAME={{ grafana_instance }}

GF_SERVER_PROTOCOL=http
GF_SERVER_DOMAIN={{ grafana_domain }}
GF_SERVER_ENFORCE_DOMAIN=false
GF_SERVER_ROOT_URL=https://{{ grafana_domain }}
GF_SERVER_ENABLE_GZIP=true

GF_DATABASE_TYPE={{ grafana_db_type }}
{% if grafana_db_host | default(False) %}
GF_DATABASE_HOST={{ grafana_db_host }}
{% endif %}
{% if grafana_db_name | default(False) %}
GF_DATABASE_NAME={{ grafana_db_name }}
{% endif %}
{% if grafana_db_username | default(False) %}
GF_DATABASE_USER={{ grafana_db_username }}
{% endif %}
{% if grafana_db_password | default(False) %}
GF_DATABASE_PASSWORD={{ grafana_db_password }}
{% endif %}
{% if grafana_db_path | default(False) %}
GF_DATABASE_PATH={{ grafana_db_path }}
{% endif %}

GF_SECURITY_ADMIN_USER={{ grafana_username }}
GF_SECURITY_ADMIN_PASSWORD={{ grafana_password }}
GF_SECURITY_SECRET_KEY={{ grafana_secret }}
GF_SECURITY_COOKIE_USERNAME=username
GF_SECURITY_COOKIE_REMEMBER_NAME=remember

GF_USERS_ALLOW_SIGN_UP={{ grafana_allow_signup | lower }}
GF_USERS_ALLOW_ORG_CREATE={{ grafana_org_create | lower }}
GF_USERS_AUTO_ASSIGN_ORG={{ grafana_assign_auto | lower }}
GF_USERS_AUTO_ASSIGN_ORG_ID={{ grafana_assign_org }}
GF_USERS_AUTO_ASSIGN_ORG_ROLE={{ grafana_assign_role }}

GF_AUTH_DISABLE_LOGIN_FORM={{ grafana_disable_signin | lower }}
GF_AUTH_DISABLE_SIGNOUT_MENU={{ grafana_disable_signout | lower }}
GF_AUTH_ANONYMOUS_ENABLED={{ grafana_anonymous_auth | lower }}

GF_SESSION_PROVIDER=file
GF_SESSION_PROVIDER_CONFIG=/var/lib/grafana/sessions
GF_SESSION_COOKIE_NAME=grafana
GF_SESSION_COOKIE_SECURE=true

GF_SMTP_ENABLED={{ grafana_smtp_enabled | lower }}
GF_SMTP_HOST={{ grafana_smtp_host }}
{% if grafana_smtp_user | default(False) %}
GF_SMTP_USER={{ grafana_smtp_user }}
{% endif %}
{% if grafana_smtp_password | default(False) %}
GF_SMTP_PASSWORD={{ grafana_smtp_password }}
{% endif %}
GF_SMTP_FROM_ADDRESS={{ grafana_smtp_address }}
GF_SMTP_FROM_NAME={{ grafana_smtp_name }}

GF_LOG_MODE=console
GF_LOG_LEVEL=info

GF_METRICS_ENABLED=true

GF_ALERTING_ENABLED=true
GF_ALERTING_EXECUTE_ALERTS=true
{% if grafana_installation == 'docker' %}

GF_INSTALL_PLUGINS={{ grafana_install_plugins | join(',') }}
{% endif %}
{% if grafana_keycloak_url | default(False) %}

GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME=Keycloak
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=true
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_keycloak_client }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_keycloak_secret }}
GF_AUTH_GENERIC_OAUTH_SCOPES=profile
GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ grafana_keycloak_url }}/protocol/openid-connect/auth
GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ grafana_keycloak_url }}/protocol/openid-connect/token
GF_AUTH_GENERIC_OAUTH_API_URL={{ grafana_keycloak_url }}/protocol/openid-connect/userinfo

GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH=email
GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH=preferred_username
GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH=name
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH={{ grafana_keycloak_roles }}
{% endif %}
{% if grafana_oauth2_enable | default(False) %}

GF_AUTH_GENERIC_OAUTH_ENABLED=true
GF_AUTH_GENERIC_OAUTH_NAME={{ grafana_oauth2_name }}
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP={{ grafana_oauth2_allow_signup | lower }}
GF_AUTH_GENERIC_OAUTH_CLIENT_ID={{ grafana_oauth2_client }}
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET={{ grafana_oauth2_secret }}
GF_AUTH_GENERIC_OAUTH_SCOPES={{ grafana_oauth2_scopes }}
GF_AUTH_GENERIC_OAUTH_AUTH_URL={{ grafana_oauth2_auth_url }}
GF_AUTH_GENERIC_OAUTH_TOKEN_URL={{ grafana_oauth2_token_url }}
GF_AUTH_GENERIC_OAUTH_API_URL={{ grafana_oauth2_api_url }}
{% if grafana_oauth2_redirect_url | default(False) %}
GF_AUTH_SIGNOUT_REDIRECT_URL={{ grafana_oauth2_redirect_url }}
{% endif %}

GF_AUTH_GENERIC_OAUTH_EMAIL_ATTRIBUTE_PATH={{ grafana_oauth2_email_attribute }}
GF_AUTH_GENERIC_OAUTH_LOGIN_ATTRIBUTE_PATH={{ grafana_oauth2_login_attribute }}
GF_AUTH_GENERIC_OAUTH_NAME_ATTRIBUTE_PATH={{ grafana_oauth2_name_attribute }}
GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH={{ grafana_oauth2_roles }}
{% endif %}
