{% if grafana_ldap_enabled | default(False) %}
[[servers]]
host = "{{ grafana_ldap_host }}"
port = {{ grafana_ldap_port }}
use_ssl = {{ grafana_ldap_use_ssl | lower }}
start_tls = {{ grafana_ldap_start_tls | lower }}
ssl_skip_verify = {{ grafana_ldap_ssl_skip_verify | lower }}

bind_dn = "{{ grafana_ldap_bind_dn }}"
bind_password = "{{ grafana_ldap_bind_password }}"

search_filter = "{{ grafana_ldap_search_filter }}"
search_base_dns = {{ grafana_ldap_search_base_dns | to_json }}
{% if grafana_ldap_group_search | default(False) %}

group_search_filter = "{{ grafana_ldap_group_search_filter }}"
group_search_base_dns = {{ grafana_ldap_group_search_base_dns | to_json }}
group_search_filter_user_attribute = "{{ grafana_ldap_group_search_filter_user_attribute }}"
{% endif  %}

[servers.attributes]
name = "{{ grafana_ldap_attribute_name }}"
surname = "{{ grafana_ldap_attribute_surname }}"
username = "{{ grafana_ldap_attribute_username }}"
member_of = "{{ grafana_ldap_attribute_member_of }}"
email = "{{ grafana_ldap_attribute_email }}"
{% for item in grafana_ldap_group_mappings | default([]) %}

[[servers.group_mappings]]
group_dn = "{{ item.dn }}"
org_role = "{{ item.role }}"
{% if item.admin | default(False) %}
grafana_admin = true
{% endif  %}
{% if item.org | default(False) %}
org_id = {{ item.org }}
{% endif  %}
{% endfor %}
{% endif %}
